//Here you can find all the variables available through the entire app

//Colors
$base-color: #000;
$secundary-color: #FFF;
$terciary-color: rgb(184, 184, 184);
$nasa-blue: #0b3d91;
$nasa-blue-2: #0b6091;
$nasa-red: #fc3d21;

//Typography

//--- Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Source Serif Pro
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,700;1,900&display=swap');


$main-font: 'Roboto', sans-serif;
$titles-font: 'Source Serif Pro', serif;